.grid {
  display   : flex;
  flex-wrap : wrap;
  background: #902c1d;
}

.grid__2>div:nth-child(1) {
  order: 2
}

.grid__2>div:nth-child(2) {
  order: 1
}

.grid__2>div:nth-child(3) {
  order: 3
}

.grid__3>div:nth-child(1) {
  order: 2
}

.grid__3>div:nth-child(2) {
  order: 3
}

.grid__3>div:nth-child(3) {
  order: 1
}

.grid__4>div:nth-child(1) {
  order: 1
}

.grid__4>div:nth-child(2) {
  order: 3
}

.grid__4>div:nth-child(3) {
  order: 2
}

.grid__itemSmall {
  margin : 10px;
  width  : calc(25% - 20px);
  height : 500px;
  padding: 0 5px;
}

.grid__itemBig {
  border       : 1px solid #000;
  border-radius: 10px;
  margin       : 10px;
  width        : calc(50% - 20px);
  height       : 500px;
  padding      : 5px;
  background   : #0007;
  color        : #fff;
}

.itemSmall__item {
  border       : 1px solid #000;
  border-radius: 10px;
  height       : calc(50% - 20px);
  margin       : 10px 0;
  padding      : 5px;
  background   : #0007;
  color        : #fff;
}
